article {
  display: flex;
}

button:first-of-type {
  margin-right: 1rem;
}

.buttons-wrapper {
  margin-top: 1.5rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin: 0 0 1.5rem 0;
}
  
highcharts-chart {
  flex-grow: 3;
}

section {
  display: flex;
  flex-direction: column;
  width: 40%
}

textarea {
  border: 1px solid #E1E1E1;
  border-radius: 0.5rem;
}