<h2>Demo #2: Highcharts Stock with simple updates</h2>
<article>
  <section>
    <p>Chart title text:</p>
    <input
      style="max-width: 50%"
      [(ngModel)]="$any(charts[usedIndex].title).text"
      (ngModelChange)="titleChange($event)"
    />
    <p>Data sets:</p>
    <div style="display: flex; flex-direction: column">
      @for (i of [0, 1, 2]; track i) {
        <button (click)="load(i)">Use data set {{ i + 1 }}</button>
      }
    </div>
  </section>
  <highcharts-chart
    constructorType="stockChart"
    [options]="charts[usedIndex]"
    (chartInstance)="chartInstance($event)"
  />
</article>
