.card {
  border: solid 1px #e1e1e1;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 1184px;
  padding: 2rem;
  width: 100%;
  background: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main:last-child {
  margin-bottom: 2rem;
}
