h2 {
  font-size: 20px;
  color: #eeeaea;
  background-color: #47475C;
  padding: 10px;
}

.full-left {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 14px;
  float: left;
  width: 98%;
  background-color: #eee;
  padding: 5px 1%;
}
.medium-right {
  float: right;
  width: 65%;
}
.third-left {
  width: 30%;
  float: left;
}